.header {
  text-align: center;
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 0.5em;
}
