.header {
    padding: 0em 1em 0em 1em;
    border: 5px solid green;
    text-align: center;

    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    // background-position: top;
    
    


    .logo {
        padding-top: 7em;
        padding-bottom: 3em;
    }

}