header,
main,
.footer-width-container {
  padding: 0em 1.5em 0em 1.5em;
}

header,
main,
.footer-width-container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  margin-top: 7em;
  margin-bottom: 3em;
}

header {
  p {
    margin-top: 1em;
  }
}

main {
  p {
    margin-top: 0.7em;
  }
}

.buttons {
  padding-top: 2em;
}

section {
  margin-top: 9em;
}

h3 {
  margin-top: 2.5em;
}
