main {
  text-align: center;
}

.imac-img-container, .access-clipboard-img-container {
  margin-top: 4em;

  img {
    width: 100%;
  }
}

.supercharge-your-workflow {
    img {
        margin-top: 3em;
    }

    h3 {
        margin-top: 2em;
    }

    .brands {
        margin-top: 3em;
    }
}

.supercharge-your-workflow {
    margin-top: 5em;
}

.benefits-container {
    margin-top: 2em;
}