@use "variables";

body,
button {
  font-family: "Bai Jamjuree", sans-serif;
  // font-size: 1.125rem;
}

p {
  line-height: 1.5rem;
  color: variables.$Neutral-Grayish-Blue;
}

h1,
h2,
h3 {
  color: variables.$Neutral-Dark-Grayish-Blue;
}

// h3 {
//   // font-size: 1.35rem;
// }

footer {
  a {
    color: variables.$Neutral-Grayish-Blue;
  }
}
